@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #faf8f5;
}

/* 自定义滚动条样式 */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* 自定义字体样式 */
h1, h2, h3, h4, h5, h6 {
  font-feature-settings: "ss01", "ss02", "ss03";
}

/* 输入框自定义样式 */
input::placeholder {
  color: #9ca3af;
}
